<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OTT Regression" parallel="none" >
<test name="Extent report test">
<parameter name="browser" value="Firefox"/>
<classes>
<class name="com.TrustTaxQA.SmokeTest">
<methods>
       <include name="oneSourceLogin2" />
       
      </methods>
      </class>
</classes>
</test>

</suite>